body {
  font-family: sans-serif;
}

td::before {
  content: attr(start_number);
  position: absolute;
  font-size: 60%;
}

.active {
  color:rgba(100, 148, 237, 0.75);
  font-weight: bold;
}

.active_input {
  color:rgba(100, 148, 237, 0.75);
  font-weight: bold;
}

.active_hover {
  color:rgba(100, 148, 237, 0.75);
  font-weight: bold;
}

.active.solved_right, active.solved_down, active.solved_letter, active.solved_grid {
  background-color:#33CC80;
  font-weight: bold;
}

.active_input.solved_right, .active_input.solved_down, .active_input.solved_letter, .active_input.solved_grid {
  background-color:#33CC80;
  font-weight: bold;
}

.active_hover.solved_right, .active_hover.solved_down, .active_hover.active_input.solved_letter, active_hover.solved_grid {
  background-color:#33CC80;
  font-weight: bold;
}

.solved_right, .solved_down, .solved_letter, .solved_grid {
  background-color: lightgreen;
  font-weight: bold;
}

.right_wrapper, .down_wrapper, .crossword_wrapper {
  min-width: 10%;
  max-width: 45%;
  display: inline-block;
  vertical-align: top;
}

.down_wrapper::before {
  content: "down";
  padding-left: 10px;
  font-weight: bold;
}

.right_wrapper:before {
  content: "right";
  padding-left: 10px;
  font-weight: bold;
}

table.puzzle_grid{
  border-collapse: collapse;
  border: 1px solid silver;
}

table.puzzle_grid tr, th, td {
  border-collapse: collapse;
  border: 1px solid silver;
  width: 1.4em;
  height: 1.4em;
}


td.active {
  background-color: rgba(173, 217, 230, 0.534);
}

td.active_hover {
  background-color: rgba(173, 226, 230, 0.459);
}

td.active_input {
  background-color: rgba(173, 198, 230, 0.596);
}

.puzzle_grid td.empty {
  background-color: black;
}


.puzzle_grid td {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.puzzle_grid td input.puzzle_input {
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 0em;
  border: none;
  text-align: center;
}
